[run]
branch = True
omit =
    tests/*
    tigramite/_version.py
    */__init__.py
    .venv/*
[report]
show_missing = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
