# Vim swap files
*.swp
*.swo

# Python byte code
*.pyc

# Python virtual env
.venv/

# C extensions
*.so

# Python build and distribution related
build/
dist/
*.egg-info/

# Pipfile
Pipfile
Pipfile.lock
