# Vim swap files
*.swp
*.swo

# Python byte code
*.pyc

# Python virtual env
.venv/

# C extensions
*.so

# Python build and distribution related
build/
dist/
*.egg-info/

# Pipfile
Pipfile
Pipfile.lock

# Rope project settings
.ropeproject

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
